# Project settings
SECRET_KEY=your-very-secret-key-here
DEBUG=False
ADMIN_EMAIL=admin@mail.com
ADMIN_PASSWORD=admin

# Postgres settings
DB_NAME=resources
DB_USER=rbac_user
DB_PASSWORD=rbac_password
DB_HOST=postgres
DB_PORT=5432
